.header {
  border: 1px solid rgba(152, 147, 147, 0.21);
  background-color: rgba(21, 10, 1, 0.21);
  margin-bottom: 30px;

  &Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    border-left: 1px solid rgba(152, 147, 147, 0.21);
    border-right: 1px solid rgba(152, 147, 147, 0.21);
    position: relative;
    padding: 30px 20px;

    @media (max-width: 767px) {
      padding: 15px 10px;
      & img {
        width: 150px;
      }
    }

    span {
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;

      &::after,
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        position: absolute;
      }
    }
    &Left {
      &::after {
        bottom: 0;
        left: 0;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
      &::before {
        top: 0;
        left: 0;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
      }
    }
    &Right {
      &::after {
        bottom: 0;
        right: 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
      &::before {
        top: 0;
        right: 0;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
      }
    }
  }
}
